<container>
  <div class=“row”>
    <div class=“col-lg-12 mx-auto”>
      <h1>投稿一覧</h1>
      <%= @posts.each do |post| %>
        <%= post.image %>
        <%= post.post_name %>
        <%= post.post_text %>
      <% end %>
    </div>
  </div>
</container>