// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
  text-aline: center;
}

.col-lg-12{
  margin-top: 50px;
}

.post_all{
  display: block;
}

.col-lg-6{
  /*background-color: white;*/
}

#map{
  width: 400px;
  height: 250px;
  margin: 20px auto 0 auto;
}

#gmap{
  width: 100%;
  height: 500px;
}

.map_caption{
  text-align: center;
}

table{
  margin: 0 auto;
}

.table_text {
   padding: 20px 0 0 0;
}

.map_text{
  padding-left: 120px;
}

 th{
    font-weight: normal;
    width:200px;
    padding:10px;
  }

  .page_title{
    margin: 30px auto;
    text-align: center;
  }

  .post_title_box{
    margin-top: 30px;
    text-align: center;
  }

  .post_title{
    font-weight: bold;
  }

  .favorite{
    text-align: right;
    margin-right: 50px;
  }

  .post_image {
    text-align: center;
  }

  .post_text, .comment_all, .comment_here, .comment_button{
    width: 600px;
  }

  .post_main_box{
    width: 600px;
    margin: 0 auto;
  }

  .comment_all{
    margin-top: 50px;
  }

  #googlemap{
    margin-top: 20px;
    width: 500px;
    height: 300px;
  }