// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
  text-aline: center;
}

.city_all{
  margin-top: 50px;
}

.post_all{
  display: block;
}

.recomend_post_box{
  margin-bottom: 100px;
}

.recomend_post{
  display: block;
}

#map{
  width: 400px;
  height: 250px;
  margin: 20px auto 0 auto;
}

#gmap{
  width: 100%;
  height: 500px;
}

.map_caption{
  text-align: center;
}

table{
  margin: 0 auto;
}

.table_text {
   padding: 20px 0 0 0;
}

.map_text{
  padding-left: 120px;
}

 th{
    font-weight: normal;
    width:200px;
    padding:10px;
  }

  .page_title{
    margin: 30px auto;
    text-align: center;
  }

  .post_title_box{
    margin-top: 30px;
  }

  .post_title{
    font-weight: bold;
  }

  #favorite{
    text-align: right;
    margin-right: 50px;
  }

  .post_image {
    text-align: center;
  }

  .post_text, .comment_all, .comment_here, .comment_button{
    width: 600px;
  }

  .post_text{
    margin-top:20px;
  }

  .post_main_box{
    width: 600px;
  }

  .posts_all{
    margin: 50px 0 0 100px;
  }

  #googlemap{
    margin-top: 50px;
    width: 500px;
    height: 300px;
  }

  .image {
    margin: 0px auto 0px auto;
  }

  .recomend_all{
    margin-top: 20px;
  }

  .comment{
    margin-top: 50px;
  }

  .comment_all{
    margin-top: 20px;
    display: flex;
  }

  .post_detail{
    display: flex;
  }

  .favorite a{
    text-decoration: none;
  }

  .current_user_show{
    width: 600px;
  }

  .current_user_show_btn{
    margin: 20px 0;
    text-align: right;
  }

  .table_image{
    display: flex;
    align-items: center;
  }

  #posts_all{
    margin: 0 auto;
    width: 950px;
  }
