// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
  text-aline: center;
}

.col-lg-12{
  margin-top: 50px;
}

.post_all{
  display: block;
}

.col-lg-6{
  background-color: #edfffe;
}


