/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


main{
  background-color: #fffcf2;
}

/*ヘッダー*/
.post_icon{
  margin: 35px 10px 0 0;
}

.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-toggler{
  background-color: white;
  margin-left: auto;
  padding: 30px 40px 0 0;
}

.logo{
  display:flex;
  margin: 0 auto;
}

.top_title{
}

.nav-right{
  margin: 0 0 0 auto;
}

.nav-list{
   margin: 20px;
 }

.top_title{
  margin:50px 50px 30px 20px;
  color: #1c1d21;
}

.d-flex{
 width:300px;
 float: right;
 margin:0 20px 10px 0;
}

.link_to{
  text-decoration: none;
  color: #464c4b;
}

.link_to:hover{
  text-decoration: none;
  color: #81abb9;
}






.admin_title{
  margin: 50px 0 20px 50px;
}

.admin_title_box{
  width:80%;
  border-bottom:solid 1px;
  margin-left: 40px
}

.city_button{
  margin-top: 20px;
}

.recomend{
  margin-top: 50px;
}

.notice{
  color: #1c1d21;
  margin-top:60px;
 }