<conainer>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h1>自分の投稿</h1>

      <% @my_posts.each do |my_post| %>
        <%= attachment_image_tag my_post, :image %>
        <%= my_post.post_name %>
        <%= my_post.post_text %>
      <% end %>

    </div>
  </div>
</conainer>